table {
    width: auto;
    height: auto;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.left, .reight {
    width: 700px;
    height: 600px;
    position: relative;
}

.tower {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    bottom: 0;
    animation: pulse 5s infinite;
    z-index: 2;
}

@keyframes pulse {
  0% {
    left: 0;
    transform: rotate(0deg); 
    opacity: 0.9;
  }
  50% {
    left: 700px;
    transform: rotate(180deg); 
    opacity: 0.8;
  }
  100% {
    left: 1290px;
    transform: rotate(360deg); 
    opacity: 0.5;
  }
}

.left {
    background: url("../source/london-background.jpg");
    background-repeat: no-repeat;
    background-size: 700px 600px;
    background-origin: padding-box;
}

.text {
    column-count: 3;
    font-weight: bold;
    color: rgb(2, 6, 31);
}

.first-paragraph {
    font-style: italic;
    color: blue;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 4px solid blue;
    border-radius: 12px;
}

.second-paragraph {
    font-style: normal;
    color: rgb(2, 6, 31);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid rgb(2, 6, 31);
    border-radius: 12px;
}

.third-paragraph {
    font-style: initial;
    color: brown;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 4px solid brown;
    border-radius: 12px;
}

.first_image {
    top: 50px;
    left: 50px;
    width: 250px;
    height: 250px;
    position: absolute;
}

.second_image {
    position: absolute;
    top: 140px;
    left: 200px;
    width: 250px;
    height: 250px;
    opacity: 0.8;
}

.third_image {
    position: absolute;
    top: 230px;
    left: 340px;
    width: 250px;
    height: 250px;
    opacity: 0.8;
}