/* div {
    border: 10px solid rgb(197, 194, 194);
}

h1 {
    text-align: center;
}  */

input {
    margin: 6px;
}

html {
    font-family: sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    font-size: .86em;
    line-height: 1.667em;
    text-align: center;
    height: 20%;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #d72a18;
}

nav ul li {
    margin-bottom: 10px;
    list-style-type: none;
    text-align: center;
}

nav ul li img {
    margin-right: 10px;
    margin-left: 3px;
}

header h1 {
    color: #e1e1e1;
    text-align: left;
    margin-left: 20px;
}

header h1 span {
    color: #d72a18;
}

nav {
    width: 600px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

section article {
    padding: 10px;
    margin: 10px;
    position: relative;
}

section {
    display: flex;
    flex-direction: row;
    height: 100%;
}

section aside {
    width: 800px;
}

footer {
    height: 20%;
    flex: 0 0 auto;
    background: url("images/footer-tail.gif") repeat-x left top #bfbfbf;
    color: #1d1d1d;
    font-size: .86em;
    line-height: 1.667em;
    text-align: center;
    margin-top: 100px;
}

.banner_img {
    position: absolute;
    top: 20px;
    left: 356px;
}

.textarea-bg {
    width: 940px;
    height: 337px;
}

h2 {
    color: white;
}

article h2 {
    color: white;
    position: absolute;
    bottom: 190px;
    left: 50px;
    font-weight: normal;
}

article h2 span {
    color: #d72a18;
}

article p {
    position: absolute;
    bottom: 100px;
    color: #e1e1e1;
    left: 50px
}

aside h2 {
    color: black;
}

.banner_bg_text {
    position: absolute;
    top: 10px;
    color: #2C6D99;
    text-transform: uppercase;
    font-weight: bold;
}

footer p {
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
    color: #d72a18;
}

nav ul {
    padding: 0;
}

.banner_bg_text span {
    color: #d72a18;
}

input[type=text],input[type=email]{
    border: 2px solid #d72a18;
    border-radius: 4px;
    height: 20px;
}

.contact-form__input--tele {
    border: 2px solid #d72a18;
    border-radius: 4px;
    height: 20px;
    margin-bottom: 10px;
}

.contact-form__input--select {
    border: 2px solid #d72a18;
    border-radius: 4px;
    height: 25px;
}

main {
    position: relative;
    width: 1000px;
    height: 500px;
    background-image: url("images/");
  }

main img {
    position: absolute;
    top: 100px;
    left: 190px;
  }

main .banner_bg {
    left:  120px;
    width: 1100px;
    height: 450px;
}

main .banner_img {
    position: absolute;
    width: 200px;
    top: 100px;
    left: 150px;
}

main table {
    position: absolute;
    top: 100px;
    left: 230px;
    border-collapse: collapse;
}

tr,td,th {
      border: 2px solid red;
}

.contact_form__button, .clear_all_button {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    /* margin:10px;
    margin-left: 20px; */
    border-radius: 6px;
    border: 2px solid rgb(51, 49, 49);
}

.contact_form__button:hover,.clear_all_button:hover {
    background-color: rgb(199, 197, 197);
}

h3 {
    color: #d72a18;
}

header h1 {
    float: left;
}

.left_header_img {
    width: 150px;
    float: right;
}

a {
    text-decoration: none;
    color:white;
}

.right_header_img {
    width: 100px;
    height: 122px;
    float: left;
}